/* #Font
================================================== */
@font-face {
  font-family: 'ploni';
  font-weight: 200;
  /*(ultralight)*/
  font-style: normal;
  src: url('../font/ploni-ultralight-aaa.woff2') format('woff2'), url('../font/ploni-ultralight-aaa.woff') format('woff');
}

@font-face {
  font-family: 'ploni';
  font-weight: 300;
  /*(light)*/
  font-style: normal;
  src: url('../font/ploni-light-aaa.woff2') format('woff2'), url('../font/ploni-light-aaa.woff') format('woff');
}

@font-face {
  font-family: 'ploni';
  font-weight: 400;
  /*(regular)*/
  font-style: normal;
  src: url('../font/ploni-regular-aaa.woff2') format('woff2'), url('../font/ploni-regular-aaa.woff') format('woff');
}

@font-face {
  font-family: 'ploni';
  font-weight: 500;
  /*(medium)*/
  font-style: normal;
  src: url('../font/ploni-medium-aaa.woff2') format('woff2'), url('../font/ploni-medium-aaa.woff') format('woff');
}

@font-face {
  font-family: 'ploni';
  font-weight: 600;
  /*(demibold)*/
  font-style: normal;
  src: url('../font/ploni-demibold-aaa.woff2') format('woff2'), url('../font/ploni-demibold-aaa.woff') format('woff');
}

@font-face {
  font-family: 'ploni';
  font-weight: 700;
  /*(bold)*/
  font-style: normal;
  src: url('../font/ploni-bold-aaa.woff2') format('woff2'), url('../font/ploni-bold-aaa.woff') format('woff');
}

@font-face {
  font-family: 'ploni';
  font-weight: 800;
  /*(ultrabold)*/
  font-style: normal;
  src: url('../font/ploni-ultrabold-aaa.woff2') format('woff2'), url('../font/ploni-ultrabold-aaa.woff') format('woff');
}

@font-face {
  font-family: 'ploni';
  font-weight: 900;
  /*(black)*/
  font-style: normal;
  src: url('../font/ploni-black-aaa.woff2') format('woff2'), url('../font/ploni-black-aaa.woff') format('woff');
}

/* #Global
================================================== */
body {
  font-family: 'ploni', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  padding-top: 5.98vw;
}

@media (max-width: 1023.98px) {
  body {
    padding-top: 22.4vw;
  }
}

.text-primary {
  color: #911515;
}

.text-secondary {
  color: #0874F7;
}

.text-secondary-dark {
  color: #0F2D96;
}

.text-tertiary {
  color: #63BA47;
}

.text-quintary {
  color: #F1A91D;
}

.text-underline {
  text-decoration: underline;
}

.box {
  width: 8.64vw;
  height: 8.64vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1023.98px) {
  .box {
    width: 22.13vw;
    height: 22.13vw;
  }
}

@keyframes scroller {

  0%,
  50% {
    opacity: 1;
    transform: translateY(0px);
  }

  16.6666% {
    opacity: 0;
    transform: translateY(100%);
  }

  33.3333% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

/* #Btns
================================================== */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 2.8vw;
  padding: 0 3.125vw;
  border-radius: 1.2vw;
  font-size: .94vw;
  font-weight: 500;
  border: none;
  background-color: transparent;
}

.btn img {
  width: 1.2vw;
}

.btn.btn-small {
  height: 2.34vw;
  padding: 0 1.45vw;
}

.btn.btn-primary {
  color: #0F2D96;
  background-color: white;
  box-shadow: 0 3px 24px #a0addbb6;
}

.btn.btn-secondary {
  border-radius: 0;
  background-color: #0F2D96;
  color: white;
}

@media (max-width: 1023.98px) {
  .btn {
    height: 13.33vw;
    padding: 0 10.66vw;
    border-radius: 6vw;
    font-size: 4.53vw;
    font-weight: 500;
  }

  .btn img {
    width: 4vw;
  }

  .btn.btn-small {
    height: 10vw;
    padding: 0 6.65vw;
  }
}

/* #Swiper Arrows
================================================== */
.swiper-arrows .swiper-button-disabled {
  opacity: .3;
}

.swiper-arrows {
  display: flex;
  align-items: center;
}

.swiper-arrows img {
  width: 1vw;
}

.swiper-arrows .prev {
  margin-left: .8vw;
}

.swiper-arrows .next,
.swiper-arrows .prev {
  transition: all .4s ease;
}

@media (max-width: 1023.98px) {
  .swiper-arrows img {
    width: 8.4vw;
  }

  .swiper-arrows .prev {
    margin-left: 8.93vw;
  }
}

/* #Form Elements Primary
================================================== */
.input-primary,
.select-primary,
.textarea-primary {
  font-family: inherit;
  border: 1px solid #0F2D96;
  color: #0F2D96;
  width: 100%;
  background-color: white;
}

.input-primary::placeholder,
.textarea-primary::placeholder {
  color: #0F2D96;
}

.input-primary,
.select-primary {
  height: 3.9vw;
  padding: 0 1.5vw;
}

.select-primary {
  appearance: none;
  background-image: url('../img/icons/chevron-down-blue.svg');
  background-repeat: no-repeat;
  background-size: 1.2vw auto;
  background-position: 1.5vw 50%;
}

.textarea-primary {
  padding: 1vw 1.5vw;
}

.checkbox.checkbox-white input {
  border-color: white;
}

.checkbox.checkbox-white label {
  color: white;
}

.checkbox.checkbox-white input:checked {
  border-color: white;
  background-color: transparent;
}

.checkbox input {
  width: 1vw;
  height: 1vw;
  border-radius: 0;
  border-color: #0F2D96;
  flex: 0 0 1vw;
}

.checkbox label {
  padding-right: 1vw;
  color: #0F2D96;
}

.checkbox input:checked {
  border-color: #0F2D96;
  background-color: #0F2D96;
}

@media (max-width: 1023.98px) {

  .input-primary,
  .select-primary {
    height: 11.33vw;
    padding: 0 4vw;
  }

  .select-primary {
    background-size: 3.33vw auto;
    background-position: 5vw 50%;
  }

  .textarea-primary {
    padding: 2vw 4vw;
  }

  .checkbox input {
    width: 3vw;
    height: 3vw;
    flex: 0 0 3vw;
  }

  .checkbox label {
    padding-right: 3vw;
  }
}

/* #Form Elements Secondary
================================================== */
.input-secondary {
  font-family: inherit;
  background-color: transparent;
  color: black;
  border: none;
  border-bottom: 1px solid #272727;
  width: 100%;
  padding-bottom: .2vw;
}

.select-secondary {
  font-family: inherit;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  width: 100%;
  padding-bottom: .3vw;
}

/* #Header
================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 1vw 0;
  z-index: 10000;
}

.header .container {
  width: 92%;
  display: flex;
  align-items: center;
}

.header-logo {
  margin-left: auto;
}

.header-logo img {
  width: 13.95vw;
}

.header-links ul {
  display: flex;
  align-items: center;
}

.header-links ul li {
  margin-left: 3vw;
}

.header-hamburger img {
  transition: all .2s ease;
}

.header-hamburger img:last-child {
  display: none;
}

@media (max-width: 1023.98px) {
  .header {
    padding: 3.33vw 0;
  }

  .header .container {
    width: 100%;
    padding: 0 4.8vw 0 6.93vw;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .header-logo {
    margin-left: 0;
    position: relative;
    z-index: 100000;
  }

  .header-logo img {
    width: 12.26vw;
  }

  .header-hamburger {
    position: relative;
    z-index: 100000;
  }

  .header-hamburger .btn {
    position: relative;
  }

  .header-hamburger img:last-child {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  .header .header-hamburger img:first-child {
    width: 6vw;
  }

  .header.show .header-hamburger img:first-child {
    opacity: 0;
  }

  .header.show .header-hamburger img:last-child {
    opacity: 1;
  }
}

/* #Header Menu
================================================== */
.header-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  height: 100%;
  width: 16.77vw;
  box-shadow: 0 3px 24px #a0addbb6;
  padding: 2.34vw;

  display: flex;
  flex-direction: column;

  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;

  transition: all .4s ease;
}

.header.show .header-menu {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.header-menu-close {
  margin-bottom: 4.48vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-menu ul {
  margin-bottom: auto;
  line-height: 1;
}

.header-menu ul li:not(:last-child) {
  margin-bottom: 2.6vw;
}

.header-social {
  display: flex;
  align-items: center;
  margin-bottom: 1.5vw;
}

.header-social a {
  display: block;
}

.header-social a:not(:last-child) {
  margin-left: 2vw;
}

.header-social img {
  width: 1.2vw;
  height: 1vw;
  object-fit: contain;
  object-position: center;
}

@media (max-width: 1023.98px) {
  .header-menu {
    width: 100%;
    box-shadow: none;
    padding: 34vw 4vw 8.26vw 5.33vw;
    overflow-y: auto;
  }

  .header-menu-close {
    display: none;
  }

  .header-menu ul {
    margin-bottom: 0;
    line-height: 1;
  }

  .header-menu ul li:not(:last-child),
  .header-menu ul li:last-child {
    margin-bottom: 2.6vw;
  }

  .header-menu ul:nth-of-type(1) a {
    font-weight: 500;
    padding-bottom: 8vw;
    margin-bottom: 8vw;
    border-bottom: 1px solid #D8DDEE;
    display: flex;
  }

  .header-menu ul:nth-of-type(2) li:not(:last-child) {
    margin-bottom: 6vw;
  }

  .header-menu ul:nth-of-type(2) a {
    color: black;
  }

  .header-social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 10vw;
  }

  .header-social a:not(:last-child) {
    margin-bottom: 0;
    margin-left: 13.33vw;
  }

  .header-social img {
    width: 5.6vw;
    height: 4.66vw;
  }
}

/* #Footer
================================================== */
.footer {
  padding: 4.16vw 0 2.34vw 0;
  background-color: #0F2D96;
  color: white;
}

.footer .container {
  width: 90%;
}

/* Top */
.footer .top {
  display: flex;
}

.footer-logo {
  margin-left: 10.5vw;
}

.footer-logo img {
  width: 4.16vw;
}

.footer-menu {
  display: flex;
}

.footer-menu .group:not(:last-child) {
  margin-left: 7.3vw;
}

.footer-menu .group ul:not(:last-child) {
  margin-bottom: 1.5vw;
}

.footer-menu .group li:not(:last-child) {
  margin-bottom: .5vw;
}

.footer-social {
  margin-right: auto;
}

.footer-social a {
  display: block;
}

.footer-social a:not(:last-child) {
  margin-bottom: 2vw;
}

.footer-social img {
  width: 1.2vw;
  height: 1vw;
  object-fit: contain;
  object-position: center;
}

/* Bottom */
.footer .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8.33vw;
}

@media (max-width: 1023.98px) {
  .footer {
    padding: 13.33vw 0 16vw 0;
  }

  .footer .container {
    width: 84%;
  }

  /* Top */
  .footer .top {
    display: block;
  }

  .footer-logo {
    margin-left: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 15.33vw;
  }

  .footer-logo img {
    width: 20.93vw;
  }

  .footer-menu {
    display: block;
  }

  .footer-menu .group:not(:last-child) {
    margin-left: 0;
    margin-bottom: 8vw;
  }

  .footer-menu .group ul:not(:last-child) {
    margin-bottom: 6vw;
  }

  .footer-menu .group li:not(:last-child) {
    margin-bottom: 1.33vw;
  }

  .footer-social {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 13.33vw;
  }

  .footer-social a {
    display: block;
  }

  .footer-social a:not(:last-child) {
    margin-bottom: 0;
    margin-right: 13.33vw;
  }

  .footer-social img {
    width: 5.6vw;
    height: 4.66vw;
  }

  /* Bottom */
  .footer .bottom {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 25.33vw;
  }

  .footer .bottom p {
    margin-top: 4vw;
  }
}

/* #Post Slider
================================================== */
.post-slider {
  margin: 9.4vw 0;
  color: white;
}

.post-slider .container {
  width: 90%;
  position: relative;
  padding: 5.2vw 0;
  padding-right: 7.8vw;
}

.post-slider .container::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 64.8vw;
  height: 100%;
  background-color: #0F2D96;
  z-index: -1;
}

.post-slider h2 {
  position: absolute;
  top: 8vw;
  right: 7.8vw;
  z-index: 20;
}

/* Slide */
.post-slider .swiper-slide {
  display: flex;
}

.post-slider .img {
  flex: 0 0 52vw;
}

.post-slider .img img {
  width: 100%;
  height: 30.83vw;
  object-fit: cover;
  object-position: center;
}

.post-slider .text {
  flex: 0 0 19.53vw;
  margin-left: auto;
  padding-top: 10.6vw;
}

.post-slider .text p {
  margin: 1.2vw 0 .5vw 0;
}

/* Arrows */
.post-slider .swiper-arrows {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 5.2vw;
  z-index: 20;
}

.post-slider .swiper-arrows img {
  width: 1vw;
}

.post-slider .swiper-arrows .prev {
  margin-left: .8vw;
}

@media (max-width: 1023.98px) {
  .post-slider {
    margin: 26.66vw 0;
  }

  .post-slider .container {
    width: 100%;
    padding: 11.33vw 5.73vw 0 5.73vw;
  }

  .post-slider .container::after {
    width: 100%;
    height: calc(100% - 20vw);
  }

  .post-slider h2 {
    position: static;
    margin-bottom: 6.65vw;
  }

  /* Slide */
  .post-slider .swiper-slide {
    display: block;
  }

  .post-slider .img {
    margin-top: 23.33vw;
  }

  .post-slider .img img {
    height: 52.66vw;
  }

  .post-slider .text {
    margin-left: 0;
    padding-top: 0;
    margin-left: 6vw;
  }

  .post-slider .text p {
    margin: 6vw 0 8vw 0;
  }

  /* Arrows */
  .post-slider .swiper-arrows {
    right: auto;
    left: 6vw;
    bottom: 60vw;
    z-index: 20;
  }

  .post-slider .swiper-arrows img {
    width: 8.4vw;
  }

  .post-slider .swiper-arrows .prev {
    margin-left: 8.93vw;
  }
}

/* #Partners
================================================== */
.partners {
  text-align: center;
  margin: 11.45vw 0;
}

.partners .container {
  width: 90%;
}

.partners h2 {
  margin-bottom: 4.68vw;
}

.partners .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.partners .swiper-slide>div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners .swiper-slide img {
  width: 9.375vw;
  height: 4.16vw;
  object-fit: contain;
  object-position: center;
}

@media (min-width: 1024px) {
  .partners .swiper-arrows {
    display: none;
  }

  .partners .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100% !important;
    margin-bottom: -7vw;
  }

  .partners .swiper-slide {
    flex: 0 0 20% !important;
    width: 20% !important;
    margin-bottom: 7vw;
  }
}

@media (max-width: 1023.98px) {
  .partners {
    text-align: center;
    margin: 11.33vw 0 26.66vw 0;
  }

  .partners .container {
    width: 90%;
  }

  .partners h2 {
    margin-bottom: 13.33vw;
  }

  .partners .swiper {
    margin: -8vw 0;
  }

  .partners .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 8vw 0;
  }

  .partners .swiper-slide img {
    width: 90%;
    height: 16.66vw;
  }

  .partners .swiper-arrows {
    justify-content: center;
    margin-top: 10.66vw;
  }
}

/* #Home Courses
================================================== */
.home-courses {
  margin: 7.8vw 0 14.58vw 0;
}

.home-courses li:not(:last-child) {
  margin-bottom: 5.2vw;
}

.home-courses li {
  display: flex;
  justify-content: center;
}

.home-courses li>div {
  flex: 0 0 27.5vw;
  margin-right: 10.4vw;
}

.home-courses li>h2 {
  flex: 0 0 27.5vw;
  text-align: left;
  line-height: .7;
}

.home-courses li:not(:first-child)>h2 {
  opacity: .3;
}

.home-courses .btn {
  margin-top: 1.5vw;
}

@media (max-width: 1023.98px) {
  .home-courses {
    margin: 13.33vw 0 25vw 0;
  }

  .home-courses .container {
    width: 100%;
    padding: 0 12vw 0 17.33vw;
  }

  .home-courses li:not(:last-child) {
    margin-bottom: 15.33vw;
  }

  .home-courses li {
    display: block;
  }

  .home-courses li>div {
    margin-right: 0;
    margin-top: 7vw;
  }

  .home-courses li>h2 {
    text-align: right;
    line-height: 1;
  }

  .home-courses li:not(:first-child)>h2 {
    opacity: .3;
  }

  .home-courses li p {
    line-height: 1.3;
  }

  .home-courses .btn {
    margin-top: 6vw;
  }
}

/* #Home Banner
================================================== */
.home-banner {
  position: relative;
  padding-bottom: 7vw;
}

.home-banner .video {
  position: relative;
}

.home-banner .video video {
  width: 73%;
  height: 46.14vw;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 4vw;
}

.home-banner .video .text {
  position: absolute;
  right: 4.47vw;
  top: 18.5vw;
  color: white;
}

.home-banner .video .text h1 {
  line-height: 1;
}

.home-banner .slider {
  position: absolute;
  top: 4.68vw;
  left: 3.33vw;
  width: 16.3vw;
}

.home-banner .quottes {
  height: 3vw;
  line-height: 7vw;
  margin-bottom: 1.5vw;
}

.home-banner .swiper-arrows {
  margin-top: 1.5vw;
}

.home-banner .slider p:last-child {
  margin-top: .25vw;
}

.home-banner .img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 35.4vw;
}

.home-banner .img img {
  width: 100%;
  height: 24.27vw;
  object-fit: cover;
  object-position: center;
}

.home-banner .boxes {
  position: absolute;
  right: 73%;
  z-index: 20;
  bottom: 7vw;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
}

.home-banner .box-1 {
  background-color: #0F2D96;
  margin-right: auto;
}

.home-banner .box-2 {
  background-image: linear-gradient(to bottom, #D8DDEE, #87AEFA);
  margin-left: 8.64vw;
}

.home-banner .box-3 {
  background-color: #911515;
  margin-right: auto;
}

.box img {
  width: 1.4vw;
  animation: 3s ease 0s infinite normal none running scroller;
}

@media (max-width: 1023.98px) {
  .home-banner {
    padding-bottom: 0;
  }

  .home-banner .video video {
    width: 93.33%;
    height: 170vw;
    border-top-left-radius: 12vw;
  }

  .home-banner .video .text {
    right: 4.93vw;
    top: 53.33vw;
  }

  .home-banner .slider {
    position: static;
    width: 60%;
    margin: 0 auto;
    margin-top: 53.33vw;
    text-align: center;
  }

  .home-banner .quottes {
    height: 7vw;
    line-height: 18vw;
    margin-bottom: 4vw;
  }

  .home-banner .swiper-arrows {
    margin-top: 5.73vw;
    justify-content: center;
  }

  .home-banner .slider p:last-child {
    margin-top: 1vw;
  }

  .home-banner .img {
    bottom: auto;
    top: 147.9vw;
    left: 0;
    width: 91.2vw;
  }

  .home-banner .img img {
    height: 62.13vw;
  }

  .home-banner .boxes {
    right: 93.33%;
    bottom: auto;
    top: 170vw;
    transform: translateX(100%) translateY(-100%);
  }

  .home-banner .box-2 {
    margin-left: 22.13vw;
  }

  .home-banner .box-3 {
    background-color: black;
  }

  .box img {
    width: 3.6vw;
  }
}

/* #Team Slider
================================================== */
.team-slider {
  margin: 9.37vw 0 11.45vw 0;
}

.team-slider .container {
  position: relative;
}

.team-slider .swiper {
  margin-right: 24.89vw;
}

.team-slider .tab-navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vw;
}

.team-slider .tab-navigation li:not(:last-child) {
  margin-left: 3.125vw;
}

.team-slider .tab-btn {
  border-bottom: 1px solid transparent;
  transition: all .4s ease;
}

.team-slider .swiper-arrows {
  position: absolute;
  right: 8.125vw;
  bottom: 3.9vw;
  z-index: 20;
}

.team-slider .heading {
  position: absolute;
  right: 8.125vw;
  top: 6vw;
  line-height: 1.1;
}

.team-slider .swiper-slide {
  padding: 0 .65vw;
}

/* Colors */
.team-slider .tab-navigation .tab-btn:nth-child(1).active {
  border-color: #F1A91D;
  color: #F1A91D;
}

.team-slider .tab-panel:nth-child(1) .team-card:hover .text {
  background-color: #f1aa1dd5;
}

.team-slider .tab-navigation .tab-btn:nth-child(2).active {
  border-color: #911515;
  color: #911515;
}

.team-slider .tab-panel:nth-child(2) .team-card:hover .text {
  background-color: #911515dc;
}

.team-slider .tab-navigation .tab-btn:nth-child(3).active {
  border-color: #63BA47;
  color: #63BA47;
}

.team-slider .tab-panel:nth-child(3) .team-card:hover .text {
  background-color: #64ba47d5;
}

.team-slider .tab-navigation .tab-btn:nth-child(4).active {
  border-color: #0F2D96;
  color: #0F2D96;
}

.team-slider .tab-panel:nth-child(4) .team-card:hover .text {
  background-color: #0f2c96c9;
}

@media (max-width: 1023.98px) {
  .team-slider {
    margin: 24.66vw 0 11.33vw 0;
  }

  .team-slider .container {
    width: 78%;
  }

  .team-slider .swiper {
    margin-right: 0;
  }

  .team-slider .tab-navigation ul {
    margin: 6.65vw 0;
  }

  .team-slider .tab-navigation li:not(:last-child) {
    margin-left: 6vw;
  }

  .team-slider .swiper-arrows {
    position: static;
    justify-content: center;
    margin-top: 8vw;
  }

  .team-slider .heading {
    position: static;
    text-align: center;
  }

  .team-slider .swiper-slide {
    padding: 1.5vw;
  }

  /* Colors */
  .team-slider .tab-panel .team-card:hover .text {
    background-color: transparent !important;
  }
}

/* #Team Slider Alt
================================================== */
.team-slider.alt .container {
  padding: 0 2vw;
}

.team-slider.alt h2 {
  text-align: center;
  margin-bottom: 4.4vw;
  line-height: 1;
}

.team-slider.alt .swiper {
  margin-right: 0;
}

.team-slider.alt .team-card .img img {
  height: 23.75vw;
}

.team-slider.alt .team-card:hover .text {
  background-color: #0f2c96c9;
}

@media (max-width: 1023.98px) {
  .team-slider.alt {
    margin: 24.66vw 0 19.33vw 0;
  }

  .team-slider.alt .container {
    width: 100%;
    padding: 0;
    padding-right: 4vw;
  }

  .team-slider.alt .team-card .img img {
    height: 78.93vw;
  }

  .team-slider.alt .team-card .text {
    position: static;
    color: black;
    display: flex;
    padding: 2.66vw 0 0 0;
  }

  .team-slider.alt .team-card .text p {
    display: block;
    max-height: 100%;
    overflow: visible;
    line-height: 1.37;
  }
}

/* #Team Card
================================================== */
.team-card {
  position: relative;
}

.team-card .img img {
  width: 100%;
  height: 20.2vw;
  object-fit: cover;
  object-position: center;
}

.team-card .text {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  padding: 1.3vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: transparent;
  transition: all .4s ease;
}

.team-card .text p {
  max-height: 0;
  overflow: hidden;
  transition: all .6s ease-out;
}

.team-card:hover .text p {
  max-height: 50%;
}

@media (max-width: 1023.98px) {
  .team-card .img img {
    height: 39.3vw;
  }

  .team-card .text {
    padding: 2.66vw 2.66vw 1.5vw 2.66vw;
  }

  .team-card .text p {
    display: none;
  }
}

/* #Home Courses 2
================================================== */
.home-courses-2 {
  margin: 14.5vw 0 9.375vw 0;
}

.home-courses-2 .container {
  padding: 0 8.125vw 0 9.47vw;
}

.home-courses-2 .tabs {
  display: flex;
  margin-bottom: 2.6vw;
}

.home-courses-2 .tab-navigation {
  flex: 0 0 16.66vw;
}

.home-courses-2 h2 {
  line-height: 1.1;
  margin-bottom: 3.65vw;
}

.home-courses-2 .tab-btn {
  position: relative;
  transition: all .4s ease;
  margin-bottom: 1vw;
}

.home-courses-2 .tab-btn::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -1vw;
  transform: translateX(100%);
  height: 1px;
  width: 2.34vw;
  opacity: 0;
  transition: all .4s ease;
}

.home-courses-2 .tab-btn.active::after {
  opacity: 1;
}

/* Slider */
.home-courses-2 .swiper-slide {
  padding: 2.5px;
}

.home-courses-2 .swiper-slide:nth-child(1) {
  margin-right: 21vw;
}

.home-courses-2 .swiper-slide:nth-child(1),
.home-courses-2 .swiper-slide:nth-child(2) {
  transform: translateX(-.5vw);
}

/* Colors */
.home-courses-2 .tab-navigation .tab-btn:nth-child(4).active {
  border-color: #F1A91D;
  color: #F1A91D;
}

.home-courses-2 .tab-btn:nth-child(4)::after,
.home-courses-2 .tab-panel:nth-child(4) .course-card {
  background-color: #f1aa1d;
}

.home-courses-2 .tab-navigation .tab-btn:nth-child(3).active {
  border-color: #911515;
  color: #911515;
}

.home-courses-2 .tab-btn:nth-child(3)::after,
.home-courses-2 .tab-panel:nth-child(3) .course-card {
  background-color: #911515;
}

.home-courses-2 .tab-navigation .tab-btn:nth-child(2).active {
  border-color: #63BA47;
  color: #63BA47;
}

.home-courses-2 .tab-btn:nth-child(2)::after,
.home-courses-2 .tab-panel:nth-child(2) .course-card {
  background-color: #64ba47;
}

.home-courses-2 .tab-navigation .tab-btn:nth-child(1).active {
  border-color: #0F2D96;
  color: #0F2D96;
}

.home-courses-2 .tab-btn:nth-child(1)::after,
.home-courses-2 .tab-panel:nth-child(1) .course-card {
  background-color: #0f2c96;
}

@media (max-width: 1023.98px) {
  .home-courses-2 {
    margin: 24.66vw 0;
    overflow: visible;
  }

  .home-courses-2 .container {
    padding: 0;
  }

  .home-courses-2 .tabs {
    display: block;
    margin-bottom: 10vw;
  }

  .home-courses-2 .tab-navigation ul {
    display: flex;
    justify-content: center;
  }

  .home-courses-2 .tab-navigation ul {
    margin: 6.65vw 0;
  }

  .home-courses-2 .tab-navigation li:not(:last-child) {
    margin-left: 6vw;
  }

  .home-courses-2 h2 {
    text-align: center;
    margin-bottom: 0;
  }

  .home-courses-2 .tab-btn {
    margin-bottom: 0;
  }

  .home-courses-2 .tab-btn::after {
    top: auto;
    bottom: 0;
    right: 0;
    transform: none;
    height: 1px;
    width: 100%;
  }

  /* Slider */
  .home-courses-2 .swiper {
    padding-right: 3.33vw;
  }

  .home-courses-2 .swiper-slide {
    padding: 0 3.33vw;
  }

  .home-courses-2 .swiper-slide:nth-child(1) {
    margin-right: 0;
  }
}

/* #Course Card
================================================== */
.course-card {
  position: relative;
  color: white;
  overflow: hidden;
  padding: 2.34vw 1.8vw;
}

.course-card .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all .4s ease;
}

.course-card .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.course-card .text {
  position: relative;
  z-index: 1;
}

.course-card a {
  display: flex;
  align-items: center;
}

.course-card a img {
  width: 1.2vw;
  margin-right: .78vw;
  margin-bottom: .2vw;
}

.course-card .text-main {
  margin: 3vw 0;
}

.course-card h3 {
  margin-bottom: 1vw;
}

.course-card .status {
  display: flex;
  align-items: center;
}

.course-card .status-box {
  width: .73vw;
  height: .73vw;
  background-color: white;
  margin-left: .78vw;
}

.course-card .status-box-empty {
  background-color: #911515;
}

@media (min-width: 1024px) {
  .course-card:hover .img {
    opacity: 1;
  }
}

@media (max-width: 1023.98px) {
  .course-card {
    padding: 6.65vw 3.6vw;
  }

  .course-card .img {
    display: none;
  }

  .course-card a img {
    width: 3.73vw;
    margin-right: 2vw;
    margin-bottom: .4vw;
  }

  .course-card .text-main {
    margin: 8vw 0 13.33vw 0;
  }

  .course-card h3 {
    margin-bottom: 5.33vw;
  }

  .course-card .status-box {
    width: 2.13vw;
    height: 2.13vw;
    margin-left: 2vw;
  }
}

/* #Banner
================================================== */
.banner {
  margin-bottom: 13.5vw;
}

.banner .container {
  display: flex;
  align-items: flex-start;
}

.banner .img {
  flex: 0 0 48.5vw;
  position: relative;
}

.banner .img>img {
  width: 100%;
  height: 42.13vw;
  object-fit: cover;
  object-position: center;
  border-top-right-radius: 3.64vw;
}

.banner .box {
  position: absolute;
  bottom: 0;
  right: 0;
}

.banner .text {
  padding-right: 7.3vw;
  padding-left: 12.4vw;
  padding-bottom: 4vw;
  padding-top: 6vw;
}

.banner .text h1 {
  line-height: 1;
  margin-bottom: 1.8vw;
}

.course-page .banner .text h1 {
  margin-top: 1vw;
}

.banner .text h3 {
  margin-top: 3.65vw;
  margin-bottom: 4.68vw;
}

.banner .form {
  margin-top: 1.8vw;
}

.banner .form form {
  width: 16.15vw;
  margin-top: 1.5vw;
}

.banner form>*:not(:last-child) {
  margin-bottom: 1vw;
}

.banner .form .btn {
  margin-top: .5vw;
}

.banner-links {
  margin-top: 5.88vw;
}

.banner-links ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: .6vw;
}

.banner-links ul li:not(:last-child) {
  margin-left: 1.5vw;
  margin-bottom: .6vw;
}

@media (max-width: 1023.98px) {
  .banner {
    margin-bottom: 19vw;
  }

  .banner .container {
    flex-direction: column-reverse;
    align-items: stretch;
  }

  .banner .img>img {
    width: 95%;
    height: 168.93vw;
    margin-right: auto;
    border-top-right-radius: 9.33vw;
  }

  .banner .box {
    position: absolute;
    bottom: 0;
    right: 5%;
  }

  .banner .text {
    padding-right: 8.66vw;
    padding-left: 8.66vw;
    padding-bottom: 0;
    padding-top: 16.26vw;
  }

  .banner .text h1 {
    margin-bottom: 6.65vw;
  }

  .course-page .banner .text h1 {
    margin-top: 5vw;
  }

  .banner .text h3 {
    margin-top: 5vw;
    margin-bottom: 13.33vw;
  }

  .course-page .banner .text {
    padding-left: 0;
  }

  .course-page .banner .text>*:not(.banner-links) {
    padding-left: 8.66vw;
  }

  .banner-links {
    margin-top: 10.66vw;
  }

  .banner-links ul {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    margin-top: 2.66vw;
    overflow: auto;
    padding-bottom: 1vw;
    padding-left: 8.66vw;
  }

  .banner-links ul li:not(:last-child) {
    margin-left: 3.33vw;
    margin-bottom: 0;
  }
}

/* #Video Section
================================================== */
.video-section {
  margin-bottom: 13.8vw;
}

.video-section .container {
  width: 74.5%;
}

.video-section .text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7.13vw;
}

.video-section .text>*:first-child {
  flex: 0 0 23.6vw;
}

.video-section .text>*:last-child {
  flex: 0 0 36.45vw;
}

.video-section .img {
  position: relative;
}

.video-section .img>img {
  width: 100%;
  height: 35vw;
  object-fit: cover;
  object-position: center;
}

.video-section .img a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4.73vw;
  height: 4.73vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-section .img a img {
  width: 1.45vw;
}

.video-section .box-1 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
}

.video-section .box-2 {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  background-color: #E7E9EE;
}

.video-section .box-3 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #D84747;
}

.video-section .box-4 {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-100%, 100%);
  background-color: #E7E9EE;
}

@media (max-width: 1023.98px) {
  .video-section {
    margin-bottom: 20vw;
  }

  .video-section .container {
    width: 100%;
  }

  .video-section .text {
    display: block;
    margin-bottom: 20vw;
    padding-right: 8.66vw;
    padding-left: 8.66vw;
  }

  .video-section .text>*:first-child {
    margin-bottom: 6.65vw;
  }

  .video-section .img {
    position: relative;
  }

  .video-section .img>img {
    height: 53.33vw;
  }

  .video-section .img a {
    width: 14.26vw;
    height: 14.26vw;
  }

  .video-section .img a img {
    width: 4.4vw;
  }

  .video-section .box {
    width: 11.46vw;
    height: 11.46vw;
  }

  .video-section .box-1 {
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    background-color: #E7E9EE;
  }

  .video-section .box-2 {
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    transform: translateX(100%);
    background-color: white;
  }

  .video-section .box-3 {
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    background-color: #D84747;
    transform: translateY(-100%);
  }

  .video-section .box-4 {
    display: none;
  }
}

/* #Category Courses
================================================== */
.category-courses {
  margin-bottom: 10.4vw;
}

.category-courses .container {
  width: 74.5%;
}

.category-courses h2 {
  text-align: center;
  margin-bottom: 4.84vw;
}

.category-courses .course-card {
  border: 1px solid #DFE4EC;
  color: black;
}

.category-courses .course-card .status-box:not(.status-box-empty) {
  background-color: #D8DDEE;
}

@media (min-width: 1024px) {
  .category-courses:not(.alt) .swiper {
    margin: -.78vw;
  }

  .category-courses:not(.alt) .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .category-courses:not(.alt) .swiper-slide {
    flex: 0 0 33.333%;
    padding: .78vw;
  }
}

@media (max-width: 1023.98px) {
  .category-courses {
    margin-bottom: 16.6vw;
  }

  .category-courses .container {
    width: 100%;
  }

  .category-courses h2 {
    margin-bottom: 10vw;
  }

  .category-courses .swiper {
    padding-right: 3.33vw;
  }

  .category-courses .swiper-slide {
    padding: 0 3.33vw;
  }
}

/* #Category Courses Alt
================================================== */
@media (min-width: 1024px) {
  .category-courses.alt .container {
    width: 94%;
  }

  .category-courses.alt .swiper {
    margin: 0 -.39vw;
  }

  .category-courses.alt .swiper-slide {
    padding: 0 .39vw;
  }
}

/* #More Worlds
================================================== */
.more-worlds {
  margin-bottom: 10.4vw;
}

.more-worlds .container {
  width: 72.2%;
}

.more-worlds h2 {
  text-align: center;
  margin-bottom: 4.68vw;
}

.more-worlds ul {
  display: flex;
  text-align: center;
  margin: 0 -5.5vw;
}

.more-worlds li {
  flex: 0 0 33.33333%;
  padding: 0 5.5vw;
}

.more-worlds li:not(:last-child) {
  border-left: 1px solid #DFE4EC;
}

.more-worlds .btn {
  margin-top: 2.6vw;
}

@media (max-width: 1023.98px) {
  .more-worlds {
    margin-bottom: 26.66vw;
  }

  .more-worlds .container {
    width: 80%;
  }

  .more-worlds h2 {
    margin-bottom: 13.33vw;
  }

  .more-worlds ul {
    display: block;
    margin: 0;
  }

  .more-worlds li {
    padding: 0;
  }

  .more-worlds li:not(:last-child) {
    border-left: 0;
    border-bottom: 1px solid #DFE4EC;
    padding-bottom: 13.33vw;
    margin-bottom: 13.33vw;
  }

  .more-worlds h3 {
    margin-bottom: 3vw;
  }

  .more-worlds .btn {
    margin-top: 9.33vw;
  }
}

/* #Contact
================================================== */
.contact {
  margin-bottom: 10vw;
}

.contact .container {
  width: 79%;
}

.contact .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Form */
.contact .form {
  flex: 0 0 27.44vw;
  padding-top: 3.64vw;
}

.contact form>*:not(:last-child) {
  margin-bottom: 2.34vw;
}

/* Info */
.contact .info {
  flex: 0 0 36.45vw;
  box-shadow: 0 3px 24px #a0addbb6;
  padding: 3.6vw;
  border-radius: 1vw;
}

.contact .info h3 {
  margin-bottom: 2.6vw;
}

.contact .info .icons li {
  display: flex;
}

.contact .info .icons li:not(:last-child) {
  margin-bottom: 3.125vw;
}

.contact .info .icons img {
  width: 2.8vw;
  margin-left: 2.44vw;
}

.contact .info .icons h3 {
  margin: .25vw 0;
}

.contact .btn {
  width: 100%;
  height: 4.3vw;
}

.contact-social {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  margin-top: 5.2vw;
  padding-right: 5.25vw;
}

.contact-social a {
  display: block;
}

.contact-social a:not(:last-child) {
  margin-right: 2vw;
}

.contact-social img {
  width: 1.2vw;
  height: 1vw;
  object-fit: contain;
  object-position: center;
}

@media (max-width: 1023.98px) {
  .contact {
    margin-bottom: 22.66vw;
  }

  .contact .container {
    width: 88.5%;
  }

  .contact .row {
    display: block;
  }

  .contact h2 {
    margin-bottom: 6vw;
    line-height: 1;
  }

  /* Form */
  .contact .form {
    padding-top: 12vw;
    width: 79.33vw;
    margin-bottom: 20vw;
  }

  .contact form>*:not(:last-child) {
    margin-bottom: 6.65vw;
  }

  /* Info */
  .contact .info {
    padding: 8vw 8vw 8vw 7vw;
    border-radius: 3vw;
  }

  .contact .info h3 {
    margin-bottom: 6.65vw;
  }

  .contact .info .icons li {
    display: flex;
  }

  .contact .info .icons li:not(:last-child) {
    margin-bottom: 7.33vw;
  }

  .contact .info .icons img {
    width: 7.33vw;
    margin-left: 6.26vw;
  }

  .contact .info .icons h3 {
    margin: .25vw 0;
  }

  .contact .btn {
    width: 100%;
    height: 12.66vw;
  }

  .contact-social {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 12vw;
    padding-right: 13.59vw;
  }

  .contact-social a {
    display: block;
  }

  .contact-social a:not(:last-child) {
    margin-bottom: 0;
    margin-right: 6.65vw;
  }

  .contact-social img {
    width: 5.6vw;
    height: 4.66vw;
  }
}

/* #Category Page
================================================== */
.category-page.executive .banner .btn,
.category-page.executive .banner .box,
.category-page.executive .video-section .img a {
  background-color: #911515;
  color: white;
}

.category-page .banner .btn img {
  margin-right: 1vw;
}

@media (max-width: 1023.98px) {
  .category-page .banner .btn img {
    margin-right: 4vw;
  }
}

/* #Category Page
================================================== */
.course-page .banner .btn,
.course-page .banner .box,
.course-page .video-section .img a,
.course-page .video-section .box-3 {
  background-color: #2C8BFC;
  color: white;
}

.course-page .banner .btn img {
  margin-right: 1vw;
}

.course-page .banner {
  margin-bottom: 9vw;
}

.course-page .banner .text {
  padding-bottom: 0;
}

@media (max-width: 1023.98px) {
  .course-page .banner .btn img {
    margin-right: 4vw;
  }

  .course-page .banner {
    margin-bottom: 23.3vw;
  }
}

/* #Card Section
================================================== */
.card-section {
  margin: 7.8vw 0;
}

.card-section h2 {
  text-align: center;
  margin-bottom: 3.125vw;
}

.card-section .container {
  width: 87.5%;
}

.card-section ul {
  display: flex;
  justify-content: space-between;
}

.card-section ul li {
  flex: 0 0 17.7vw;
  padding: 2vw 3vw;
  transition: all .4s ease;
}

.card-section ul li:hover {
  box-shadow: 0 3px 24px rgba(0, 0, 0, .1);
}

.card-section ul img {
  width: 2.5vw;
  height: 2.5vw;
  object-fit: contain;
  margin-bottom: .78vw;
}

@media (max-width: 1023.98px) {
  .card-section {
    margin: 20vw 0;
  }

  .card-section h2 {
    margin-bottom: 15.33vw;
  }

  .card-section .container {
    width: 100%;
  }

  .card-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    text-align: center;
  }

  .card-section ul li {
    flex: 0 0 50%;
    padding: 3.33vw 4vw 4vw 4vw;
    transition: all .4s ease;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
  }

  .card-section ul li:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
  }

  .card-section ul img {
    width: 10vw;
    height: 10vw;
    object-fit: contain;
    margin: 0 auto;
    margin-bottom: 2vw;
  }
}

/* #Timeline
================================================== */
.timeline {
  margin: 9vw 0 10.4vw 0;
}

.timeline .container {
  padding-right: 5vw;
}

.timeline h2 {
  text-align: center;
  margin-bottom: 5vw;
}

.timeline .swiper::after {
  content: '';
  position: absolute;
  top: 3.35vw;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: black;
  opacity: .2;
  z-index: -1;
}

.timeline .swiper-arrows {
  margin-top: 5vw;
  justify-content: center;
}

.timeline .swiper-slide {
  padding-left: 6vw;
  transition: all .4s ease;
  position: relative;
  z-index: 1;
}

.timeline .swiper-slide:not(.swiper-slide-active) {
  opacity: .2;
}

.timeline .num {
  padding-bottom: .78vw;
  margin-bottom: 2.2vw;
  position: relative;
  z-index: 10;
}

.timeline .num::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: .625vw;
  height: .625vw;
  border-radius: 50%;
  background-color: black;
  z-index: 10;
}

@media (max-width: 1023.98px) {
  .timeline {
    margin: 23.33vw 0 24.66vw 0;
  }

  .timeline .container {
    padding-right: 7.6vw;
  }

  .timeline h2 {
    margin-bottom: 12vw;
  }

  .timeline .swiper::after {
    top: 12.35vw;
  }

  .timeline .swiper-arrows {
    margin-top: 10vw;
  }

  .timeline .swiper-slide {
    padding-left: 12vw;
  }

  .timeline .num {
    padding-bottom: 5.33vw;
    margin-bottom: 11.33vw;
  }

  .timeline .num::after {
    width: 2.93vw;
    height: 2.93vw;
  }
}

/* #FAQ
================================================== */
.faq {
  margin: 10.4vw 0 9.11vw 0;
}

.faq .container {
  width: 61%;
}

.faq h2 {
  text-align: center;
  margin-bottom: 3.125vw;
}

.faq .text-center a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.125vw;
}

.faq .text-center a img {
  width: .94vw;
  margin-left: .6vw;
}

.faq .collapsible {
  border-bottom: 1px solid #E1E1E1;
}

.faq .collapse-toggler {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .8vw 0;
}

.faq .collapse>div {
  padding-bottom: 1.3vw;
}

.faq .collapse ul {
  list-style: initial;
  padding-right: 19px;
}

.faq .collapse h4:not(:first-child) {
  margin-top: 1.5vw;
}

@media (max-width: 1023.98px) {
  .faq {
    margin: 24.66vw 0;
  }

  .faq .container {
    width: 100%;
  }

  .faq h2 {
    text-align: center;
    margin-bottom: 3.125vw;
  }

  .faq .text-center a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.125vw;
  }

  .faq .text-center a img {
    width: .94vw;
    margin-left: .6vw;
  }

  .faq .collapsible {
    padding: 0 7.73vw 0 8.66vw;
  }

  .faq .collapse-toggler {
    padding: 4vw 0;
  }

  .faq .collapse>div {
    padding-bottom: 5vw;
  }

  .faq .collapse h4:not(:first-child) {
    margin-top: 7.5vw;
  }
}

/* #Course Form
================================================== */
.course-form {
  background-color: #0F2D96;
  color: white;
  padding: 3.125vw 0 4.4vw 0;
  margin-bottom: 11.5vw;
}

.course-form .container {
  width: 57%;
}

.course-form .step-content>ul>li:not(.active) {
  display: none;
}

.course-form .input-secondary {
  border-color: white;
  color: white;
}

.course-form .input-secondary::placeholder {
  color: white;
}

.course-form .textarea-primary {
  background-color: transparent;
  border-color: white;
  color: white;
  resize: none;
}

.course-form form button {
  border-radius: 0;
  box-shadow: none !important;
  color: black !important;
}

.course-form form button img {
  margin-right: 1vw;
}

.course-form select option {
  color: black;
}

@media (max-width: 1023.98px) {
  .course-form {
    padding: 10vw 0 13.33vw 0;
    margin-bottom: 13.33vw;
  }

  .course-form .container {
    width: 100%;
  }

  .course-form form button img {
    margin-right: 4vw;
  }
}

/* Tabs Primary */
.course-form .tabs-primary>.tab-navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4.4vw;
}

.course-form .tabs-primary>.tab-navigation .tab-btn:not(:last-child) {
  margin-left: 4.4vw;
}

.course-form .tabs-primary>.tab-navigation .tab-btn {
  border-bottom: 2px solid transparent;
  transition: all .4s ease;
}

.course-form .tabs-primary>.tab-navigation .tab-btn.active {
  border-color: white;
}

@media (max-width: 1023.98px) {
  .course-form .tabs-primary>.tab-navigation ul {
    margin-bottom: 15.33vw;
  }

  .course-form .tabs-primary>.tab-navigation .tab-btn:not(:last-child) {
    margin-left: 4vw;
  }
}

/* Details */
.course-form .details form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 39.375vw;
  margin-bottom: -2.8vw;
}

.course-form .details form>div {
  flex: 0 0 100%;
  margin-bottom: 2.8vw;
}

.course-form .details form>div:nth-child(1),
.course-form .details form>div:nth-child(2),
.course-form .details form>div:nth-child(3),
.course-form .details form>div:nth-child(4) {
  flex: 0 0 11.2vw;
}

.course-form .details form>div:nth-child(5) {
  flex: 0 0 25.26vw;
}

.course-form .details form>div:nth-child(7) {
  flex: 0 0 50%;
}

.course-form .details form>div:nth-child(8) {
  flex: 0;
}

@media (max-width: 1023.98px) {
  .course-form .details form {
    display: block;
    width: 90%;
    margin-bottom: -9.33vw;
  }

  .course-form .details form>div {
    flex: 0 0 100%;
    margin-bottom: 9.33vw;
  }

  .course-form .details form .btn {
    width: 100%;
  }
}

/* Registration */
.course-form .steps {
  border: 1px solid white;
}

.course-form .step-navigation {
  border-bottom: 1px solid white;
}

.course-form .step-navigation ul {
  display: flex;
}

.course-form .step-navigation ul li {
  flex: 0 0 33.333333%;
  display: flex;
  align-items: center;
  line-height: 1.15;
  padding-right: 2vw;
  height: 5.6vw;
}

.course-form .step-navigation ul li.active {
  background-color: white;
  color: #0F2D96;
}

.course-form .step-navigation ul li.active svg * {
  stroke: #0F2D96;
}

.course-form .step-navigation ul li:not(:last-child) {
  border-left: 1px solid white;
}

.course-form .step-navigation .img svg {
  width: 2.34vw;
  margin-left: 2vw;
}

@media (max-width: 1023.98px) {
  .course-form .steps {
    border: none;
  }

  .course-form .step-navigation {
    border: 1px solid white;
    border-left: none;
  }

  .course-form .step-navigation ul {
    display: flex;
    overflow: auto;
  }

  .course-form .step-navigation ul li {
    flex: 0 0 48vw;
    padding-right: 4vw;
    height: 16.66vw;
  }

  .course-form .step-navigation ul li:not(:last-child),
  .course-form .step-navigation ul li:last-child {
    border-left: 1px solid white;
  }

  .course-form .step-navigation .img svg {
    width: 8vw;
    margin-left: 4vw;
  }
}

/* Step Content 1 */
.step-content>ul>li:nth-child(1) {
  padding: 2.1vw 2.1vw 2.1vw 2.6vw;
}

.step-content>ul>li:nth-child(1) form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -2.8vw;
}

.step-content>ul>li:nth-child(1) form>div {
  flex: 0 0 11.2vw;
  margin-bottom: 2.8vw;
}

.step-content>ul>li:nth-child(1) form>div:nth-child(10) {
  margin-left: auto;
  margin-right: 2.2vw;
}

.step-content>ul>li:nth-child(1) form>div:nth-child(11) {
  flex: 0 0 60%;
}

.step-content>ul>li:nth-child(1) form>div:nth-child(12) {
  flex: 0;
}

@media (max-width: 1023.98px) {
  .step-content>ul>li:nth-child(1) {
    padding: 10.33vw 5.33vw;
  }

  .step-content>ul>li:nth-child(1) .btn {
    width: 100%;
  }

  .step-content>ul>li:nth-child(1) form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -9.33vw;
  }

  .step-content>ul>li:nth-child(1) form>div {
    flex: 0 0 47%;
    margin-bottom: 9.33vw;
  }

  .step-content>ul>li:nth-child(1) form>div:nth-child(10) {
    margin-left: 0;
    margin-right: 0;
  }

  .step-content>ul>li:nth-child(1) form>div:nth-child(11) {
    flex: 0 0 100%;
  }

  .step-content>ul>li:nth-child(1) form>div:nth-child(12) {
    flex: 0 0 100%;
  }
}

/* Step Content 2 */
.step-content>ul>li:nth-child(2) {
  min-height: 20.4vw;
  padding: 1.7vw 0 2vw 0;
}

.step-content>ul>li:nth-child(2) .tab-navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.8vw;
}

.step-content>ul>li:nth-child(2) .tab-navigation .tab-btn:not(:last-child) {
  margin-left: 2.6vw;
}

.step-content>ul>li:nth-child(2) .tab-navigation .tab-btn {
  border-bottom: 2px solid transparent;
  transition: all .4s ease;
}

.step-content>ul>li:nth-child(2) .tab-navigation .tab-btn.active {
  border-color: white;
}

.step-content .gray-box {
  width: 35vw;
  height: 14.7vw;
  background-color: #565656;
  margin: 0 auto;
}

.step-content>ul>li:nth-child(2) .tab-panel:nth-child(2) {
  width: 17vw;
  margin: 0 auto;
}

.step-content>ul>li:nth-child(2) .row {
  display: flex;
  justify-content: space-between;
  margin: 1vw 0 2vw 0;
}

.step-content>ul>li:nth-child(2) a {
  display: flex;
  align-items: center;
}

.step-content>ul>li:nth-child(2) a img {
  width: 1.2vw;
  margin-right: .5vw;
}

@media (max-width: 1023.98px) {
  .step-content>ul>li:nth-child(2) {
    min-height: 20.4vw;
    padding: 5.33vw 0;
  }

  .step-content>ul>li:nth-child(2) .tab-navigation ul {
    margin-bottom: 8vw;
  }

  .step-content>ul>li:nth-child(2) .tab-navigation .tab-btn:not(:last-child) {
    margin-left: 4vw;
  }

  .step-content .gray-box {
    width: 90%;
    height: 104.8vw;
  }

  .step-content>ul>li:nth-child(2) .tab-panel:nth-child(2) {
    width: 68vw;
  }

  .step-content>ul>li:nth-child(2) .row {
    margin: 3.33vw 0 12vw 0;
  }

  .step-content>ul>li:nth-child(2) a img {
    width: 4vw;
    margin-right: 2vw;
  }
}

/* Step Content 3 */
.step-content>ul>li:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5vw 0 4.68vw 0;
}

.step-content>ul>li:nth-child(3) img {
  width: 17.7vw;
  margin-bottom: 1vw;
}

@media (max-width: 1023.98px) {
  .step-content>ul>li:nth-child(3) {
    padding: 11.33vw 0;
  }

  .step-content>ul>li:nth-child(3) img {
    width: 67.73vw;
    margin-bottom: 6vw;
  }
}

/* #Text Page
================================================== */
.text-page-content {
  padding: 3.125vw 0 10.4vw 0;
}

.text-page-content .container {
  width: 65%;
}

.text-page-content h1 {
  text-align: center;
  margin-bottom: 5.72vw;
  line-height: 1;
}

.text-page-content p {
  line-height: 1.3;
}

@media (max-width: 1023.98px) {
  .text-page-content {
    padding: 8vw 0 20vw 0;
  }
  
  .text-page-content .container {
    width: 82%;
  }
  
  .text-page-content h1 {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 8vw;
  }
}

/* #Error Page
================================================== */
.error-page .banner .container {
  justify-content: space-between;
}

.error-page .banner .btn {
  margin-top: 4.68vw;
}

.error-page .banner .box:nth-of-type(1) {
  background-color: #0874F7;
}

.error-page .banner .box:nth-of-type(2) {
  background-color: #F1A91D;
  transform: translateY(-100%);
}

.error-page .banner .box:nth-of-type(3) {
  background-color: #63BA47;
  transform: translateX(-100%);
}

.error-page .banner .box:nth-of-type(4) {
  background-color: #AB0F0F;
  transform: translate(-200%, -100%);
}

@media (min-width: 1024px) {
  .error-page .banner {
    margin-bottom: 4.5vw;
  }
}

@media (max-width: 1023.98px) {
  .error-page .banner .btn {
    margin-top: 12vw;
  }
}